<IfModule mod_rewrite.c>
  RewriteEngine On

  # Zorg ervoor dat het verzoek geen bestaand bestand of map betreft
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Stuur alles door naar de index.html voor client-side routing
  RewriteRule ^ index.html [QSA,L]

</IfModule>

# Optioneel: Forceer HTTPS voor betere beveiliging
<IfModule mod_ssl.c>
  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>