
.introjs-tooltip {
    min-width: 300px;
}
.introjs-tooltip-header {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}
.introjs-skipbutton.introjs-skipbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    line-height: 55px;
}
.introjs-tooltiptext.introjs-tooltiptext {
    padding: 10px 25px 20px;
    font-size: 1.4rem;
    line-height: 1.3;
}
.introjs-dontShowAgain.introjs-dontShowAgain {
    padding-inline: 25px;
}
.introjs-progress.introjs-progress {
    height: 4px;
    margin: 25px 25px 0px;
    border-radius: 4px;
    background-color: #f3f3f3;
}
.introjs-helperNumberLayer {
    font-size: 1.3rem;
}
.introjs-progressbar {
    background-color: var(--primary, hsl(80 88% 70% / 1));
}
.introjs-tooltipbuttons {
    display: flex;
    gap: 10px;
    justify-content: stretch;
    align-items: stretch;
}
.introjs-tooltipbuttons .button {
    flex-grow: 1;
    color: #323232;
    font-size: 1.5rem;
    outline: none;
}
.introjs-tooltipbuttons .button.introjs-prevbutton {
    background: none;
    background-color: transparent;
    padding: 10px;
    color: var(--text);
    border: 1px solid var(--border);
    font-size: 1.4rem;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.08); 
}
.introjs-tooltipbuttons:after {
    display: none;
}